nnpdfbuild/
*~
*.o
*.so
.deps
.dirstamp
theory_*
stamp-*
*.cache
nnpdfsrc/autoconfig/config.h
nnpdfsrc/common/inc/svn.h
config.log
config.status
libtool
*.pyc
Makefile

.ipynb_checkpoints/
*.swp


Python install
*.egg-info
build/
dist/
.libs
__pycache__
