*~
*.o
*.so
.deps
.dirstamp
theory_*
stamp-*
*.cache
src/common/inc/version.h
config.log
config.status
libtool
*.pyc
Makefile
CMakeCache.txt
CMakeFiles/
bin/chi2check
bin/filter
bin/fkcheck
bin/gencovmat
bin/kinplot
bin/nnfit
bin/revolve
bin/tconvcheck
bin/validphys
config/*
cmake_install.cmake
src/libcommon.a

.ipynb_checkpoints/
*.swp


Python install
*.egg-info
build/
dist/
.libs
__pycache__
