{% extends "thapp/base.html" %}
{% load staticfiles %}

{% block content %}

<style>
.select { }
</style>

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Insert new theory</h3>
        <p>Please fill the form below and when finalized click on the
          submit button. This form validates your input before
          commit to the database, so check for errors if you are not
          redirected to the home page after submiting the form.
        </div>
        <div class="col-md-6">
          <img src="{% static "imgs/apfelcomb.png" %}" class="img-responsive" alt="logo" align="right"  style="max-width:auto;height:40px;">
        </div>

      </div>

      <div class="col-md-6">
        ​    <div class="panel panel-primary">
          <div class="panel-heading">New Theory Submission Form</div>
          <div class="panel-body">

            <div class="row">

              <form class="form-horizontal" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                  <label class="col-sm-4 control-label">Perturbative order:</label>
                  <div class="col-sm-7">
                    {{ form.pto }} <span class="alert-danger">{{form.pto.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Flavor Number Scheme:</label>
                  <div class="col-sm-7">
                    {{ form.fns }} <span class="alert-danger">{{form.fns.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Damping:</label>
                  <div class="col-sm-1">
                    {{ form.damp }} <span class="alert-danger">{{form.damp.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Intrinsic Charm:</label>
                  <div class="col-sm-1">
                    {{ form.ic }} <span class="alert-danger">{{form.ic.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Evolution mode:</label>
                  <div class="col-sm-7">
                    {{ form.modev }} <span class="alert-danger">{{form.modev.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$\xi_R$:</label>
                  <div class="col-sm-7">
                    {{ form.xir }} <span class="alert-danger">{{form.xir.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$\xi_F$:</label>
                  <div class="col-sm-7">
                    {{ form.xif }} <span class="alert-danger">{{form.xif.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$n_{f,\rm FF}$:</label>
                  <div class="col-sm-7">
                    {{ form.nfff }} <span class="alert-danger">{{form.nfff.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$n_{f,\alpha_s}^{\rm max}$:</label>
                  <div class="col-sm-7">
                    {{ form.maxnfas }} <span class="alert-danger">{{form.maxnfas.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$n_{f,\rm PDF}^{\rm max}$:</label>
                  <div class="col-sm-7">
                    {{ form.maxnfpdf }} <span class="alert-danger">{{form.maxnfpdf.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$Q_{0}$ (GeV):</label>
                  <div class="col-sm-7">
                    {{ form.q0 }} <span class="alert-danger">{{form.q0.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$\alpha_s(Q_{\rm ref})$:</label>
                  <div class="col-sm-7">
                    {{ form.alphas }} <span class="alert-danger">{{form.alphas.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$Q_{\rm ref}$ (GeV):</label>
                  <div class="col-sm-7">
                    {{ form.qref }} <span class="alert-danger">{{form.qref.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">QED:</label>
                  <div class="col-sm-1">
                    {{ form.qed }} <span class="alert-danger">{{form.qed.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$\alpha$:</label>
                  <div class="col-sm-7">
                    {{ form.alphaqed }} <span class="alert-danger">{{form.alphaqed.errors}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">$Q_{\rm ref}^{\rm
                    QED}$ (GeV):</label>
                    <div class="col-sm-7">
                      {{ form.qedref }} <span class="alert-danger">{{form.qedref.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Small-x resummation:</label>
                    <div class="col-sm-1">
                      {{ form.sxres }} <span class="alert-danger">{{form.sxres.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Small-x order:</label>
                    <div class="col-sm-7">
                      {{ form.sxord }} <span class="alert-danger">{{form.sxord.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Heavy Quark:</label>
                    <div class="col-sm-7">
                      {{ form.hq }} <span class="alert-danger">{{form.hq.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$m_c$:</label>
                    <div class="col-sm-7">
                      {{ form.mc }} <span class="alert-danger">{{form.mc.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$Q_{m_c}$ (GeV):</label>
                    <div class="col-sm-7">
                      {{ form.qmc }} <span class="alert-danger">{{form.qmc.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">kcThr:</label>
                    <div class="col-sm-7">
                      {{ form.kcthr }} <span class="alert-danger">{{form.kcthr.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$m_b$:</label>
                    <div class="col-sm-7">
                      {{ form.mb }} <span class="alert-danger">{{form.mb.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$Q_{m_b}$ (GeV):</label>
                    <div class="col-sm-7">
                      {{ form.qmb }} <span class="alert-danger">{{form.qmb.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">kbThr:</label>
                    <div class="col-sm-7">
                      {{ form.kbthr }} <span class="alert-danger">{{form.kbthr.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$m_t$:</label>
                    <div class="col-sm-7">
                      {{ form.mt }} <span class="alert-danger">{{form.mt.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$Q_{m_t}$ (GeV):</label>
                    <div class="col-sm-7">
                      {{ form.qmt }} <span class="alert-danger">{{form.qmt.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">ktThr:</label>
                    <div class="col-sm-7">
                      {{ form.ktthr }} <span class="alert-danger">{{form.ktthr.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">CKM matrix:</label>
                    <div class="col-sm-7">
                      {{ form.ckm }} <span class="alert-danger">{{form.ckm.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$M_Z$:</label>
                    <div class="col-sm-7">
                      {{ form.mz }} <span class="alert-danger">{{form.mz.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$M_W$:</label>
                    <div class="col-sm-7">
                      {{ form.mw }} <span class="alert-danger">{{form.mw.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$G_F$:</label>
                    <div class="col-sm-7">
                      {{ form.gf }} <span class="alert-danger">{{form.gf.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$\sin^2(\theta_W)$:</label>
                    <div class="col-sm-7">
                      {{ form.sin2tw }} <span class="alert-danger">{{form.sin2tw.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Target Mass Correction:</label>
                    <div class="col-sm-1">
                      {{ form.tmc }} <span class="alert-danger">{{form.tmc.errors}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label">$M_P$:</label>
                    <div class="col-sm-7">
                      {{ form.mp }} <span class="alert-danger">{{form.mp.errors}}</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Comments:</label>
                    <div class="col-sm-7">
                      {{ form.comments }} <span class="alert-danger">{{form.comments.errors}}</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-7">
                      <button type="submit" name="submit" class="btn btn-danger">Submit new theory</button>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
