{% extends "thapp/base.html" %}
{% load staticfiles %}

{% block content %}

<script>
$(document).ready(function() {
  $('#myTable').DataTable( {
    "scrollX": true,
    "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
    "pageLength": 25
  });
} );
</script>

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Insert new theory</h3>
        <p>Insert new theory id and update the theory database.</p>
        <a class="btn btn-primary btn-group-lg" href="/add">Insert New Theory</a>
      </div>
      <div class="col-md-6">
        <img src="{% static "imgs/apfelcomb.png" %}" class="img-responsive" alt="logo" align="right"  style="max-width:auto;height:40px;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Browse and download grids</h3>
        <p>Select your theory and click on the ID number to
          download the respective tables.</p></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table id="myTable" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" >
              <thead>
                <tr>
                  <th class="thfull">ID</th>
		  <th class="thfull">Comments</th>
                  <th class="thfull">PTO</th>
                  <th class="thfull">FNS</th>
                  <th class="thfull">DAMP</th>
                  <th class="thfull">IC</th>
                  <th class="thfull">ModEv </th>
                  <th class="thfull">$\xi_R$ </th>
                  <th class="thfull">$\xi_F$ </th>
                  <th class="thfull">$n_{f,\rm FF}$ </th>
                  <th class="thfull">$n_{f,\alpha_s}^{\textrm{max}}$</th>
                  <th class="thfull">$n_{f,\rm PDF}^{\rm max}$</th>
                  <th class="thfull">$Q_0$</th>
                  <th class="thfull">$\alpha_s$</th>
                  <th class="thfull">$Q_{\rm ref}$</th>
                  <th class="thfull">QED</th>
                  <th class="thfull">$\alpha$</th>
                  <th class="thfull">$Q_{\rm ref}^{\rm QED}$</th>
                  <th class="thfull">SxRes</th>
                  <th class="thfull">SxOrd</th>
                  <th class="thfull">HQ</th>
                  <th class="thfull">$m_{c}$</th>
                  <th class="thfull">$Q_{m_{c}}$</th>
                  <th class="thfull">kcThr</th>
                  <th class="thfull">$m_{b}$</th>
                  <th class="thfull">$Q_{m_{b}}$</th>
                  <th class="thfull">kbThr</th>
                  <th class="thfull">$m_{t}$</th>
                  <th class="thfull">$Q_{m_{t}}$</th>
                  <th class="thfull">ktThr</th>
                  <th class="thfull">CKM</th>
                  <th class="thfull">$M_{Z}$</th>
                  <th class="thfull">$M_{W}$</th>
                  <th class="thfull">$G_F$</th>
                  <th class="thfull">$\sin^2(\theta_W)$</th>
                  <th class="thfull">TMC</th>
                  <th class="thfull">$M_{p}$</th>
                </tr>
              </thead>

              <tbody>
                {% for theory in theories %}
                <tr>
                  <td align="center"><a href="http://pcteserver.mi.infn.it/~apfelcomb/commondatatheory/theory_{{theory.id}}.tgz">{{theory.id}}</a></td>
                  <td style="white-space: nowrap;" align="center">{{theory.comments}}</td>
                  <td align="center">{{theory.pto}}</td>
                  <td style="white-space: nowrap" align="center">{{theory.fns}}</td>
                  <td align="center">{{theory.damp}}</td>
                  <td align="center">{{theory.ic}}</td>
                  <td align="center">{{theory.modev}}</td>
                  <td align="center">{{theory.xir}}</td>
                  <td align="center">{{theory.xif}}</td>
                  <td align="center">{{theory.nfff}}</td>
                  <td align="center">{{theory.maxnfas}}</td>
                  <td align="center">{{theory.maxnfpdf}}</td>
                  <td align="center">{{theory.q0}}</td>
                  <td align="center">{{theory.alphas}}</td>
                  <td align="center">{{theory.qref}}</td>
                  <td align="center">{{theory.qed}}</td>
                  <td align="center">{{theory.alphaqed}}</td>
                  <td align="center">{{theory.qedref}}</td>
                  <td align="center">{{theory.sxres}}</td>
                  <td align="center">{{theory.sxord}}</td>
                  <td align="center">{{theory.hq}}</td>
                  <td align="center">{{theory.mc}}</td>
                  <td align="center">{{theory.qmc}}</td>
                  <td align="center">{{theory.kcthr}}</td>
                  <td align="center">{{theory.mb}}</td>
                  <td align="center">{{theory.qmb}}</td>
                  <td align="center">{{theory.kbthr}}</td>
                  <td align="center">{{theory.mt}}</td>
                  <td align="center">{{theory.qmt}}</td>
                  <td align="center">{{theory.ktthr}}</td>
                  <td style="white-space: nowrap;" align="center">{{theory.ckm}}</td>
                  <td align="center">{{theory.mz}}</td>
                  <td align="center">{{theory.mw}}</td>
                  <td align="center">{{theory.gf}}</td>
                  <td align="center">{{theory.sin2tw}}</td>
                  <td align="center">{{theory.tmc}}</td>
                  <td align="center">{{theory.mp}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
