name: Redo regressions

# start job only for PRs when a label is added.
on:
  pull_request:
    types: [labeled]

# some general variables
env:
  # https://keras.io/getting_started/faq/#how-can-i-obtain-reproducible-results-using-keras-during-development
  PYTHONHASHSEED: "0"

jobs:
  build:
    if: contains(github.event.pull_request.labels.*.name, 'redo-regressions')
    runs-on: ubuntu-latest
    env:
      NETRC_FILE: ${{ secrets.NETRC_FILE }}
      NNPDF_SSH_KEY: ${{ secrets.NNPDF_SSH_KEY }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.ref }}
    - uses: ./.github/actions/install_conda_pip
      with:
        python-version: "[qed,tests]"
    - name: Regenerate regressions
      shell: bash -l {0}
      run: |
        pytest extra_tests/regression_checks.py --regenerate True
    - name: Commit
      shell: bash -l {0}
      run: |
        git config user.name "Redo regressions bot"
        git config user.email "<>"
        git add extra_tests/regression_fits/*
        git status
        git commit -m "Automatically regenerated regressions from PR ${{ github.event.number }}, branch ${{ github.event.pull_request.head.ref }}."
        git push origin "${{ github.event.pull_request.head.ref }}"
